[defaults]
inventory = inventory/lab.yml
roles_path = /mnt/c/Users/John/OneDrive/Documents/cloud-projects/arcgis-enterprise-lab/ansible/roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent